body{
    margin:0;
    font-family: sans-serif;
    background-color: #E2FCFA;
}
#main {
    color: #001b13;
    font-size: 16px;
}
.popup {
    width: 200px;
    padding:1em;
    border: #319A92 0.2em solid;
    display: inline-block;
}
.website #main{
    max-width: 800px;
    margin: 2em auto;
}
img{
    max-width: 100%;
}
/*popup things */
.filter{
    margin-top: 0.2rem;
}
.peeks{
    display:inline-block;
    background-color: #E2FCFA;
    float: right;
    margin-top:0.5em;
}
input{
    float:right;
}
.option{
    float:right;
}
h1{
    text-align:center;
    margin: 0;
    margin-bottom: 0.5em;

}
.selector{
    padding-top:1em;
    border-top: 1px solid #319A92;
}
.popup h1, .popup h2, .popup h3, .popup h4{
    display:inline-block;
    margin: 0 0;
    padding: 0 0;
}
h2{
    font-weight:normal;
    margin: 0;
}
.popup h3{
    margin: 0.1em 0 0 0;
    margin-top:0;
    font-size:1em;
}
.option.enabled{
    display:inline-block;
}
.option label.enabled{
    display:none;
}
strong{
    font-weight:bold;
}
.painlessPeek-filter-value{
    display:inline-block;
}
.painlessPeek-filters, .painlessPeek-peeks{
    display: block;
    margin: 0.5em 0;
}
